<div class="container">
  <%= form_with(model: @question) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
      <%= f.label :body, '質問内容' %>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>
    <!-- /.form-group -->
    <%= f.submit '更新する', class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
<!-- /.container -->